import(gMWT, parallel, plotrix, Rcpp, RcppArmadillo, hoardeR, snpStats)

S3method(print,eqtl)
S3method(plot,eqtl)
S3method(summary,eqtl)

S3method(print,mdr)
S3method(predict,mdr)
S3method(plot,mdr)

S3method(print,mdrPredict)

export(calcDistances, eQTL, QTL, genotypePlot, getRegionsOI, gtfToBed, mdr, recodeData, visTrans)

useDynLib(GeneticTools)